{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Robot control
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="card p-2">

                    <div class="card-body">
                        <button type="button" class="btn btn-warning" id="btn-update">Update</button>
                        <h5 class="card-title">Positions:</h5>
                        <div class="container">
                            <div class="row justify-content-around">
                                {% for pos in positions %}
                                    <div class="col-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title"
                                                    id="title-{{ forloop.counter }}">{{ pos.position_number }} | <img
                                                        src="{% if pos.status == "L" %}
                                                        {% static "controller/img/orange.png" %}
                                                    {% elif pos.status == "OP" %}
                                                        {% static "controller/img/green.png" %}
                                                    {% else %}
                                                        {% static "controller/img/red.png" %}
                                                    {% endif %}" width="32px" , height="32px">
                                                </h5>
                                                <p class="card-text" id="status-{{ forloop.counter }}">Status:
                                                    {% if pos.status == "L" %}
                                                        On load
                                                    {% elif pos.status == "OP" %}
                                                        Open
                                                    {% else %}
                                                        Occupied
                                                    {% endif %}</p>
                                                <p class="card-text" id="tu-{{ forloop.counter }}">Last time updated:
                                                    {% for key,value in times.items %}
                                                        {% if key == pos.id %}
                                                            {{ value }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                                <p class="card-text">Package:

                                                </p>
                                                <span id="package-{{ forloop.counter }}">
                                                {% for key,value in packages.items %}
                                                    {% if key == pos.id %}
                                                        {% if value != None and pos.status == "OC" and value.status == "IS" %}
                                                            <a href="{% url 'package_by_pos' pos.id %}">Link</a>
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                </span>
                                                <br>
                                                <br>
                                                <a href="{% url 'package_by_pos_rest' 1 %}" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}