{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Robot control
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="card p-2">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Positions:</h5>
                        <div class="container">
                            <div class="row justify-content-around">
                                {% for pos in positions %}
                                    <div class="col-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ pos.position_number }} | <img src="{% if pos.status == "L" %}
                                                        {% static "controller/img/red.png" %}
                                                    {% elif pos.status == "OP" %}
                                                        {% static "controller/img/green.png" %}
                                                    {% else %}
                                                        {% static "controller/img/orange.png" %}
                                                    {% endif %}" width="32px" , height="32px">
                                                <p class="card-text"></h5>
                                                <p class="card-text">Status:
                                                    {% if pos.status == "L" %}
                                                        Locked
                                                    {% elif pos.status == "OP" %}
                                                        Open
                                                    {% else %}
                                                        On load
                                                    {% endif %}</p>
                                                <p class="card-text">Last time updated:
                                                    {% for key,value in times.items %}
                                                        {% if key == pos.id %}
                                                            {{ value }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                                <p class="card-text">Package:

                                                </p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}